*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: rgb(247, 209, 205);
}

p {
  margin: 1em auto;
  text-align: center;
}

code, pre {
  background: white;
  color: black;
  padding: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  width: 50%;
}

.title {
  background-color: rgb(115, 93, 120);
  color: white;
  font-size: 2em;
  box-shadow: 5px 10px #888888;
}

.text {
  background-color: rgb(209, 179, 196);
  font-size: 1.5em;
  box-shadow: 5px 10px #888888;
}

.markdown {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 2em auto;
}

.previewer {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2em auto;
}

